.contacts-awards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  @media all and (max-width: 768px) {
    grid-template-columns: 1fr;
    padding-top: 1000px;
  }
}
.contacts-awards-text {
  grid-column: 1 / 4;
  @media all and (max-width: 768px) {
    grid-column: 1 / 2;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}
.contacts-awards-img {
  img {
    max-width: 360px;
  }
}
/*=================================================*/
