/* Header --------------------------------------*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 3px solid #fff;

  padding: 10px 0;
  @media all and (max-width: 1024px) {
    background: #326095;
  }
  &__in {
    @media all and (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }
  .header-logo {
    img {
      display: flex;
      max-width: 300px;
    }
  }
  .header-menu {
    display: flex;
    justify-content: center;
    @media all and (max-width: 768px) {
      // display: none;
      order: 2;
      width: 100%;
      justify-content: space-between;
      margin-top: 20px;
      padding-bottom: 10px;
    }

    a {
      margin-right: 15px;
      margin-left: 15px;
      display: block;
      padding: 7px 10px;
      border-radius: 5px;
      border: 1px solid transparent;
      @media all and (max-width: 768px) {
        margin-right: 3px;
        margin-left: 3px;
      }
      &:hover {
        border-color: #fff;
      }
      &.isActive {
        border-color: #fff;
      }
    }
  }

  .header-contacts {
    display: flex;
    justify-content: end;
    // width: 200px;
  }
}
.mobile-menu {
  display: none;
}

.mobile-menu {
  position: absolute;
  z-index: 10;
  display: block;
  font-size: 12px;
  left: 0px;
  top: 60px;
  a {
    font-size: 12px;
    margin-right: 5px;
    margin-left: 5px;
    color: black;
    // display: block;
    // padding: 2px 5px;
    // border-radius: 1px;
    // border: 1px solid transparent;
    &:hover {
      border-color: #fff;
    }
    &.isActive {
      border-color: #fff;
    }
  }
}

@media all and (max-width: 1024px) {
  .header-logo {
    max-width: 150px;
  }
  .header-menu {
    a {
      font-size: 12px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  .header-contacts {
    font-size: 12px;
  }
}
