/* Header --------------------------------------*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 3px solid #fff;
  padding: 10px 0;
  @media all and (max-width: 320px) {
    display: none;
  }
}
.header-mobile {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 3px solid #fff;
  padding: 10px 0;
  // display: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: flex-end;
  .header-mobile-logo {
    padding-left: 5px;
  }
  .header-mobile-contacts {
    padding-right: 5px;
  }
}

.header-logo {
  img {
    display: flex;
    max-width: 300px;
  }
}
.header-menu {
  display: flex;
  justify-content: center;

  a {
    margin-right: 15px;
    margin-left: 15px;
    display: block;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    &:hover {
      border-color: #fff;
    }
    &.isActive {
      border-color: #fff;
    }
  }
}

.header-contacts {
  display: flex;
  justify-content: end;
  // width: 200px;
}

@media all and (max-width: 768px) {
  .header-logo {
    max-width: 150px;
  }
  .header-menu {
    a {
      font-size: 12px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  .header-contacts {
    font-size: 12px;
  }
}
