.repair {
  display: flex;
  flex: 1 0 50%;
  justify-content: space-between;
  .repair_img {
    position: relative;
    z-index: 9;
    margin-right: 10px;
    width: calc(100% - 45% - 10px);
  }
  .repair_text {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;

    width: calc(100% - 55% - 10px);
    margin-left: 10px;
    h1 {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 40px;
    }
  }
}
